/todo.txt
/pyvenv.cfg
/test.ipynb
/azarovlife_comments.json
/azarovlife_posts.json
/russian_sentiment_tweet_automated_labeled
/for_use_model
/comments
/file_to_training
/.ipynb_checkpoints
/model.1.1.version.ipynb
/model.1.0.version.ipynb